<launch>
  <!-- Arguments -->
  <arg name="model" default="AGV_1"/>
  <arg name="configuration_basename" default="itu_agv_lds_2d_gazebo.lua"/>
  <arg name="set_base_frame" default="$(arg model)/base_footprint"/>
  <arg name="set_odom_frame" default="$(arg model)/odom"/>
  <arg name="set_map_frame"  default="map"/>
model
  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" args="scan:=/AGV_1/scan_multi" name="itu_agv_slam_gmapping" output="screen">
    
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
    <rosparam command="load" file="$(find itu_agv_slam)/config/gmapping_params.yaml" />
  </node>
</launch>
