<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro"
  name="ITU_AGV">
<joint name="AGV_1/base_joint" type="fixed">
    <parent link="AGV_1/base_footprint"/>
    <child link="AGV_1/base_link"/>
    <origin xyz="0   0   0.12" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="AGV_1/base_to_wheel_left" type="fixed">
    <parent link="AGV_1/base_link"/>
    <child link="AGV_1/wheel_left"/>
    <origin xyz="0    0.22 -0.02" rpy="1.571 0    0"/>
    <axis xyz="0.e+00 -2.e-04 -1.e+00"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="AGV_1/base_to_wheel_right" type="fixed">
    <parent link="AGV_1/base_link"/>
    <child link="AGV_1/wheel_right"/>
    <origin xyz="0   -0.22 -0.02" rpy="1.571 0    0"/>
    <axis xyz="0.e+00 -2.e-04 -1.e+00"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <link name="AGV_1/base_link">
    <inertial>
      <mass value="5.67"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.07" ixy="0" ixz="0" iyy="0.08" iyz="0" izz="0.10"/>
    </inertial>
    <collision name="AGV_1/collision">
      <origin xyz="0    0   -0.11" rpy="0     0    -1.571"/>
      <geometry>
        <mesh filename="package://itu_agv_description/meshes/agv.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="AGV_1/front_caster_collision">
      <origin xyz="0.25  0   -0.07" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05"/>
      </geometry>
    </collision>
    <collision name="AGV_1/back_caster_collision">
      <origin xyz="-0.25  0   -0.07" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05"/>
      </geometry>
    </collision>
    <visual name="AGV_1/visual">
      <origin xyz="0    0   -0.11" rpy="0     0    -1.571"/>
      <geometry>
        <mesh filename="package://itu_agv_description/meshes/agv.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="AGV_1/front_caster_visual">
      <origin xyz="0.25  0   -0.07" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05"/>
      </geometry>
    </visual>
    <visual name="AGV_1/back_caster_visual">
      <origin xyz="-0.25  0   -0.07" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05"/>
      </geometry>
    </visual>
  </link>
  <link name="AGV_1/base_footprint">
    <inertial>
      <mass value="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="AGV_1/wheel_left">
    <inertial>
      <mass value="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="AGV_1/collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius=".1" length=".05"/>
      </geometry>
    </collision>
  </link>
  <link name="AGV_1/wheel_right">
    <inertial>
      <mass value="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="AGV_1/collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius=".1" length=".05"/>
      </geometry>
    </collision>
  </link>
  
</robot>
