<?xml version="1.0"?>
<launch>
    <include file="$(find itu_agv_description)/launch/load_robot.launch" />

    <arg name="rvizconfig" default="$(find itu_agv_gazebo)/config/agv.rviz" />


    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>